<input type="file" id="file-selector" accept="image/*" hidden>

<section class="section">
    <div class="content-layout g-1">
        <div class="box box-hero bg ib0">
            <div class="col-text">
                <span class="iconify icon-active" data-icon="fluent:slide-search-28-filled" style="font-size: 48px;"></span>
                <h2>Pest Detection and Analysis</h2>
                <span>Detect pests in your farm's plots.</span>
            </div>
            <div class="col-right">
                <div class="card action-card" onclick="document.getElementById('file-selector').click();">
                    <div class="box jsb ac">
                        Detect From Image
                        <span class="iconify" data-icon="fluent:image-search-24-regular" style="font-size: 24px;"></span>
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="statistics">
                    <div class="box jsb ac">
                        View Previous Detections
                        <span class="iconify" data-icon="fluent:clipboard-image-24-regular" style="font-size: 24px;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box wp g-1">
                <div class="card action-card dyn" data-view-name="pests-0" data-action-name="detect" data-id="1">
                    <div class="box jsb">
                        <h3>Plot 1</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <div>
                        No pests detected.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-0" data-action-name="detect" data-id="2">
                    <div class="box jsb">
                        <h3>Plot 2</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <div>
                        No pests detected.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-2" data-action-name="detect" data-id="3" data-date="May 7, 2022 (8:00 AM)">
                    <div class="box jsb">
                        <h3>Plot 3</h3>
                        <span class="iconify" data-icon="fluent:warning-24-filled"></span>
                    </div>
                    <div>
                        Pesticides were applied 5 hours ago.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-0" data-action-name="detect" data-id="4">
                    <div class="box jsb">
                        <h3>Plot 4</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <div>
                        No pests detected.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-0" data-action-name="detect" data-id="5">
                    <div class="box jsb">
                        <h3>Plot 5</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <div>
                        No pests detected.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-1" data-action-name="detect" data-id="6">
                    <div class="box jsb">
                        <h3>Plot 6</h3>
                        <span class="iconify" data-icon="fluent:question-circle-28-filled"></span>
                    </div>
                    <div>
                        Still looking for pests.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-0" data-action-name="detect" data-id="7">
                    <div class="box jsb">
                        <h3>Plot 7</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <div>
                        No pests detected.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-0" data-action-name="detect" data-id="8">
                    <div class="box jsb">
                        <h3>Plot 8</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <div>
                        No pests detected.
                    </div>
                </div>
                <div class="card action-card dyn" data-view-name="pests-0" data-action-name="detect" data-id="9">
                    <div class="box jsb">
                        <h3>Plot 9</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <div>
                        No pests detected.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="content-layout g-1">
        <h2 class="m-0">Common Types of Banana Pests</h2>
        <div class="box">
            <div class="box wp g-1">
                <div class="card">
                    <div class="card-title">
                        <span>Nematodes</span>
                        <div class="card-action-box">
                            <a class="btn-simple" target="_blank"
                               href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">
                                <span class="iconify" data-icon="fluent:open-24-filled"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body g-1">
                        <div class="j">
                        They cause rotting of the corms and act as a vector to the fungus <em>Fusarium oxysporum</em>. Commercial farmers apply nematicides, which when properly applied, will protect the crop. Otherwise, the soil has to be cleared, plowed, and then exposed to the sun and left fallow for up to three years.
                        </div>
                        <div class="t">Data: <a target="_blank" href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">Gardening Know How</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Weevils</span>
                        <div class="card-action-box">
                            <a class="btn-simple" target="_blank"
                               href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">
                                <span class="iconify" data-icon="fluent:open-24-filled"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body g-1">
                        <div class="j">
                        The black weevil (<em>Cosmopolites sordidus</em>) or banana stalk borer, banana weevil borer, or corm weevil is the second most destructive pest. Black weevils attack the base of the pseudostem and tunnel upward whereupon a jelly-like sap oozes out from the entry point.
                        </div>
                        <div class="t">Data: <a target="_blank" href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">Gardening Know How</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Thrips</span>
                        <div class="card-action-box">
                            <a class="btn-simple" target="_blank"
                               href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">
                                <span class="iconify" data-icon="fluent:open-24-filled"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body g-1">
                        <div class="j">
                        Banana rust thrips (<em>C. signipennis</em>), as its name suggests, stains the peel, causing it to split and exposes the flesh which then begins to rot. Insecticidal dust (Diazinon) or a spraying of Dieldrin can control thrips, which pupate in the soil.
                        </div>
                        <div class="t">Data: <a target="_blank" href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">Gardening Know How</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Scarring beetle</span>
                        <div class="card-action-box">
                            <a class="btn-simple" target="_blank"
                               href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">
                                <span class="iconify" data-icon="fluent:open-24-filled"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body g-1">
                        <div class="j">
                        The banana fruit scarring beetle, or coquito, invades the bunches when the fruit is young. The banana scab moth infests the inflorescence and is controlled with the use of an injection or dusting of pesticide.
                        </div>
                        <div class="t">Data: <a target="_blank" href="https://www.gardeningknowhow.com/edible/fruits/banana/banana-pests-and-diseases.htm">Gardening Know How</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Banana aphid</span>
                        <div class="card-action-box">
                            <a class="btn-simple" target="_blank"
                               href="https://www.daf.qld.gov.au/business-priorities/agriculture/plants/fruit-vegetable/insect-pests/banana-aphid">
                                <span class="iconify" data-icon="fluent:open-24-filled"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body g-1">
                        <div class="j">
                        Small reddish-brown to almost black oval shaped aphids. Aphids have two characteristic projections from the rear of the abdomen. Colonies can also be found in the unfurled top leaves of young plants and suckers or under leaf bases near ground level. Winged forms have prominent forewings with dark pigmented veins.
                        </div>
                        <div class="t">Data: <a target="_blank" href="https://www.daf.qld.gov.au/business-priorities/agriculture/plants/fruit-vegetable/insect-pests/banana-aphid">Dept. of Agriculture and Fisheries, Queensland, Australia</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Banana fruit caterpillar</span>
                        <div class="card-action-box">
                            <a class="btn-simple" target="_blank"
                               href="https://www.daf.qld.gov.au/business-priorities/agriculture/plants/fruit-vegetable/insect-pests/banana-fruit-caterpillar">
                                <span class="iconify" data-icon="fluent:open-24-filled"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body g-1">
                        <div class="j">
                        Adults are medium to large moths measuring 50-60 mm across the wings. The darker forewings are dull grey-brown in colour with a dark brown V-shaped area on the fore margins. The hind wings are uniform light brown-grey.
                        </div>
                        <div class="t">Data: <a target="_blank" href="https://www.daf.qld.gov.au/business-priorities/agriculture/plants/fruit-vegetable/insect-pests/banana-fruit-caterpillar">Dept. of Agriculture and Fisheries, Queensland, Australia</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
