<section class="section">
    <div class="content-layout g-1">
        <div class="box box-hero bg ib0">
            <div class="col-text">
                <span class="iconify icon-active" data-icon="fluent:home-person-24-filled" style="font-size: 48px;"></span>
                <h2>Jose's Farm</h2>
                <span>Information about your farm at a glance.</span>
            </div>
            <div class="col-right">
                <div class="card action-card">
                    <h3>Status</h3>
                    <div class="box v g-1">
                    <div>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                        No active infestations detected in all plots.
                    </div>
                    <div>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                        Last inspection performed 3 hours ago.
                    </div>
                    <div>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                        Pesticides were applied 5 hours ago.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="content-layout g-1">
        <h2 class="m-0">Explore AgricultuRAM</h2>
        <div class="box wp g-1">
        <div class="card action-card dyn" data-view-name="detect">
            <div class="box v c ac">
                <img src="assets/images/home-1.svg" width="150" height="200">
                <h1>Detection and Classification</h1>
                <p>
                    Find possible pest infestations and categorize pests on banana trees using AI.
                </p>
            </div>
        </div>

        <div class="card action-card dyn" data-view-name="statistics">
            <div class="box v c ac">
                <img src="assets/images/home-2.svg" width="200" height="200">
                <h1>Statistics and Analysis</h1>
                <p>
                    View insights on the banana trees' growth and status, including pest infestation history.
                </p>
            </div>
        </div>

        <div class="card action-card dyn" data-view-name="health">
            <div class="box v c ac">
                <img src="assets/images/home-3.svg" width="200" height="200">
                <h1>Overall Plot Health</h1>
                <p>
                    Learn more about the banana trees’ health using collected data.
                </p>
            </div>
        </div>
        </div>
    </div>
</section>
