<section class="section">
    <div class="content-layout g-1">
        <h2 class="m-0">Settings</h2>
        <h3 class="mb-0">About this app</h3>
        <div>
            AgricultuRAM
            <br/>
            By RAMventure
            <br/>
            For Microsoft Imagine Cup Junior 2022
            <br/>
            Version 1.0.0 (Prototype)
        </div>
        <h3 class="mb-0">Team Leader</h3>
        <div>
            Edric Christian Cielos
        </div>
        <h3 class="mb-0">Team Members</h3>
        <div>
            Lou Danielle Baylon<br/>
            Riana Margaret Beduya<br/>
            Francis Dominic Fajardo<br/>
            Rachel Lauren Manlapig<br/>
            Bianca Ellaine Manzano<br/>
            Sigourney Patricia Marie Valbuena<br/>
        </div>
        <h3 class="mb-0">Attributions</h3>
        <div>
            Fluent UI System Icons - Microsoft Corporation
            <br/>
            unDraw - Katerina Limpitsouni
        </div>
    </div>
</section>