<section class="section">
    <div class="content-layout g-1">
        <div class="box box-hero bg ib0">
            <div class="col-text">
                <span class="iconify icon-active" data-icon="fluent:data-area-24-filled" style="font-size: 48px;"></span>
                <h2>Statistics and Analysis</h2>
                <span>Insights on growth and status, including related data.</span>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="content-layout g-1">
        <div class="box g-1 wp two-col w-100">
            <div class="col-left box v g-1 b-0">
                <h2 class="m-0">Previous Detections</h2>
                <div class="card action-card dyn" data-view-name="pests-2" data-action-name="statistics" data-id="3" data-date="May 7, 2022 (8:00 AM)">
                    <div class="box jsb">
                        <h3 class="m-0">Plot 3</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <span>
                        May 7, 2022 (8:00 AM)
                    </span>
                    <span class="t">
                        Pesticides applied.
                    </span>
                </div>
                <div class="card action-card dyn" data-view-name="pests-2" data-action-name="statistics" data-id="7" data-date="May 5, 2022 (11:00 AM)">
                    <div class="box jsb">
                        <h3 class="m-0">Plot 7</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <span>
                        May 5, 2022 (11:00 AM)
                    </span>
                    <span class="t">
                        Pesticides applied.
                    </span>
                </div>
                <div class="card action-card dyn" data-view-name="pests-2" data-action-name="statistics" data-id="1" data-date="May 2, 2022 (3:00 PM)">
                    <div class="box jsb">
                        <h3 class="m-0">Plot 1</h3>
                        <span class="iconify" data-icon="fluent:checkmark-circle-16-filled"></span>
                    </div>
                    <span>
                        May 2, 2022 (3:00 PM)
                    </span>
                    <span class="t">
                        Pesticides applied.
                    </span>
                </div>
            </div>
            <div class="col-right box v g-1">
                <h2 class="m-0">Statistics</h2>
                <div class="card b-auto">
                    <div class="card-title">
                        <span>Infestation Severity Over Time</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="c">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>
                </div>
                <div class="card b-auto">
                    <div class="card-title">
                        <span>Amount of Pests Detected for All Plots</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="c">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>
                </div>
                <div class="card b-auto">
                    <div class="card-title">
                        <span>Pesticide Failure Rate for All Plots</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="c">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>