<section class="section">
    <div class="content-layout g-1">
        <div class="box box-hero bg ib0">
            <div class="col-text">
                <span class="iconify icon-active" data-icon="fluent:briefcase-medical-32-filled" style="font-size: 48px;"></span>
                <h2>Overall Plot Health</h2>
                <span>Learn more about the banana crops’ health using collected data.</span>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="content-layout g-1">
        <div class="box g-1 wp two-col">
            <div class="col-right box g-1 wp">
                <div class="card">
                    <div class="card-title">
                        <span>Plot 1</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 2</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 3</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 4</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 5</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 6</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 7</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 8</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <span>Plot 9</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>