<section class="section">
    <div class="content-layout g-1">
        <div class="box g-1 wp two-col w-100">
            <div class="col-left">
                <div class="card">
                    <div class="card-body g-1">
                        <div class="box v c ac">
                            <span class="iconify icon-active" data-icon="fluent:clipboard-search-24-filled" style="font-size: 48px;"></span>
                            <h2 class="m-0">Plot #<span id="plot-id"></span></h2>
                            <span>No pests detected.</span>
                        </div>
                        <a class="btn dyn" href="#" data-view-name="statistics">
                        View Previous Detections
                        </a>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-body g-1">
                        This plot is scheduled to have pesticides applied if pests are detected or based on the schedule in the settings.
                        <a class="btn">
                        Apply Pesticides
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-right box v g-1">
                <div class="card b-auto">
                    <div class="card-title">
                        <span>Images</span>
                    </div>
                    <div class="card-body">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                            <div class="phs phs-image"></div>
                            <div class="phs phs-image"></div>
                            <div class="phs phs-image"></div>
                            <div class="phs phs-image"></div>
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card b-auto">
                    <div class="card-title">
                        <span>Amount of Pests Detected</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card b-auto">
                    <div class="card-title">
                        <span>Pesticide Failure Rate for this Plot</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
                <div class="card b-auto">
                    <div class="card-title">
                        <span>Analysis Report</span>
                    </div>
                    <div class="card-body g-1">
                        <div class="box wp g-1">
                            <div class="phs phs-image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>